.header__top {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
}

.header__top-p {
    width: 166px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.header__nav {
    background: #010305CC;
}

.header__nav-logo {
    display: flex;
    gap: 5px;
}

.header__nav-logo img {
    display: flex;
    align-items: center;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.header__nav-list-item a {
    color: #fff;
}

.header__nav-list-item a:hover {
    color: #ED8E00;
    transition: .3s linear;
    border-bottom: 2px solid #ED8E00;
    padding-bottom: 40px;
    border-radius: 20px 20px 0 0;
}

.header__top-icon {
    font-size: 50px;
}

.header__nav-p {
    padding-top: 25px;
}